<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Updater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="DbUpdater" type="DBUpdater.Configuration.DbUpdaterConfigurationSection, DbUpdater" />
  </configSections>
  <connectionStrings />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  
  <applicationSettings>
    <Updater.Properties.Settings>
      <setting name="CloseAfterUpdate" serializeAs="String">
        <value>False</value>
      </setting>
    </Updater.Properties.Settings>
  </applicationSettings>

  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="updateLog.txt" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %-5p %c - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>

  <!--<DbUpdater ConnectionString="Data Source=DMVAMAIN;Initial Catalog=TaskHelper;Integrated Security=True">
    <ScriptsFiles FileName="..\..\..\Scripts\TaskHelper.xml" SchemaFile="..\..\..\Scripts\DbUpdateScript.xsd" ScriptsRootFolder="..\..\..\..\TaskHelper\Scripts"/>
    <ScriptsDbTable TableName="DBFiles"  RunDateField="Executed" UpdateStatusField="DBFileStatus" >
      <ScriptFileStatus OkValue="1" ErrorValue="2" InProgressValue="3" ></ScriptFileStatus>
      <XmlMappedData FileField="Name"  DescriptionField="" AuthorField=""/>
    </ScriptsDbTable>
  </DbUpdater>-->

  <!--<DbUpdater ConnectionString="Data Source=DMVAMAIN;Initial Catalog=TaskHelper;Integrated Security=True">
    <ScriptsFiles FileName="..\..\..\Scripts\HF.db.xml" SchemaFile="..\..\..\Scripts\DbUpdateScript.xsd" ScriptsRootFolder="..\..\..\Scripts\armTestScipts"/>
    <ScriptsDbTable TableName="ChangeScript"  RunDateField="RunDate">
      <XmlMappedData FileField="ScriptName"  DescriptionField="ScriptDescription" AuthorField="CreatedBy"/>
    </ScriptsDbTable>
  </DbUpdater>-->
  
  <!--<DbUpdater ConnectionString="Data Source=(local);Initial Catalog=ARM_ENG;Integrated Security=True">
    <ScriptsFiles FileName="..\..\..\Scripts\HF.db.xml" SchemaFile="..\..\..\Scripts\DbUpdateScript.xsd" ScriptsRootFolder="..\..\..\Scripts\armTestScipts"/>
    <ScriptsDbTable TableName="ChangeScript"  RunDateField="RunDate">
      <XmlMappedData FileField="ScriptName"  DescriptionField="ScriptDescription" AuthorField="CreatedBy"/>
    </ScriptsDbTable>
  </DbUpdater>-->
  <DbUpdater ConnectionString="data source=dev-db;initial catalog=AllMeds;user id=AllMedsAdmin;password=change;" ScriptSource="Directory" >
    <ScriptDirectory DirectoryName="c:\Precisemd\AllMeds\Site\Sources\DB\" FileMask="*.sql" DoNotRegisterScriptInDatabase="true" DoNotStoreFileExtensionInDatabase="true"/>
    <ScriptsFiles FileName="..\..\..\scripts\!AllMeds.db.xml" SchemaFile="..\..\..\scripts\DbUpdateScript.xsd" ScriptsRootFolder="..\..\..\scripts\allMeds"/>
    <ScriptsDbTable TableName="__MigrationHistory">
      <XmlMappedData FileField="MigrationId"/>
    </ScriptsDbTable>
  </DbUpdater>



</configuration>
